
<div class="container mt-5">
<h1>Your Basket</h1>
  <div class="row py-4">
    <div class="col">
      <h1>Order #<%= @basket.id %></h1>
      <p><strong>ISSUED ON</strong> <%= @basket.created_at.to_date.strftime("%d/%m/%Y") %></p>
      <div>
      <table class="mt-5 table">
      <thead>
        <tr>
          <th scope="col" class="pink-text basket-head">Item</th>
          <th scope="col" class="orange-text basket-head">Description</th>
          <th scope="col" class="blue-text basket-head">Price</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <% total_basket = 0 %>
        <% @basket.basket_items.each do |basket_item| %>
          <tr>
            <th scope="row"><%= link_to basket_item.item.name, item_path(basket_item.item_id) %></th>
            <td><%= basket_item.item.description %></td>
            <td><%= humanized_money_with_symbol basket_item.item.price %></td>
            <td><span class="black-text"><%= link_to basket_item_path(basket_item), method: :delete, class: "black-text" do %>
              <i class="fa fa-trash" aria-hidden="true"></i>
              <% end %>
            </span></td>
          </tr>
          <% total_basket += basket_item.item.price %>
        <% end %>
      <tr>
          <th colspan='2' scope="row">Total Amount</th>
          <td><%= humanized_money_with_symbol total_basket %></td>
          <td></td>
        </tr>
      </tbody>
      </table>
      </div>

      <p class="mt-5">Estimated delivery in <strong>7 business days</strong></p>
    </div>
  </div>
    <%= link_to "Confirm", confirm_path, class: "underlined-button green-underline" %>
</div>
