<div class="container mt-5">

  <div class="text-center my-5">
    <h1>Our Artists</h1>
    <p>Meet our talented, up and coming Artists</p>
  </div>

  <div class="row flex-wrap justify-content-center">
    <% @artists.each do |artist| %>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="avatar-wrapper">
          <%= link_to artist_path(artist), class: "artist-no-underline" do %>
            <div class="text-center">
              <%= cl_image_tag(artist.user.photo.key, :class => "profile-avatar") %>
            </div>
            <% if current_user %>
              <%= link_to toggle_favorite_artist_path(artist), remote: true, method: :post do %>
                <div class="avatar-like <%= 'pink-heart' if current_user.favorited?(artist) %>" data-id="<%= artist.id %>">
                  <i class="fas fa-heart fa-2x"></i>
                </div>
              <% end %>
            <% end %>
            <div class="mt-3 mb-5 text-center black-text">
              <p> <%= artist.user.first_name %> <%= artist.user.last_name %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="btn-center-page">
      <a href="/items_decorate"><button type="button" class="fill">Shop Items</button></a>
    </div>
  </div>
</div>
