<%# BOOKING DONATION %>
<% if @booking.donation? %>
  <div class="page-container">
    <div class="show-container booking-show-card">
      <div class="m-5">
        <h2>THANKS, YOUR COLLECTION IS CONFIRMED!</h2>
        <p>Here's your collection recap:</p>
        <ul class="list-items">
          <li>Booking ID: <%= @booking.id %></li>
          <li>Item Name:  <%= @booking.item.name %></li>
          <li>Your item will be collected on: <%= @booking.start_date.strftime("%d/%m/%Y") %></li>
          <li>At this address: <%= @booking.user.address %></li>
        </ul>
      </div>
      
      
    </div>
    <div class="d-flex">
        <div title="Add to Calendar" class="addeventatc text-center">
          Add to Calendar
          <span class="start">06/29/2021 08:00 AM</span>
          <span class="title">Collection of <%= @booking.item.name %></span>
          <span class="description">Thank you so much for supporting local artists at Amoobl.com</span>
          <span class="all_day_event">true</span>
        </div>
    </div>
    <div class="btn-center-page">
      <a href="/items_decorate"><button type="button" class="fill">More Items</button></a>
      <a href="/artists"><button type="button" class="fill">More Artists</button></a>
    </div>
  </div>
<% end %>
<%# BOOKING CREATION %>
<% if @booking.creation? %>
  <div class="page-container">
    <div class="show-container booking-show-card">
      <div class="m-5 flex-grow-1">
        <%# <h1>Thanks, your <span class="text-green">collection</span> is confirmed!</h1>
          <br> %>
        <%# <h2>THANKS YOUR <span class="text-green">COLLECTION</span> IS CONFIRMED</h2> %>
        <h2>IN THE BOOKS, SEE YOU SOON!</h2>
        <%# <h1>Thanks, your <span class="text-green">COLLECTION</span> is confirmed!</h1> %>
        <p>Recap of your booking:</p>
        <ul class="list-items">
          <li>Booking ID: <%= @booking.id %></li>
          <li>Item Name:  <%= @booking.item.name %></li>
          <li>See you at the warehouse from: <%= @booking.start_date.strftime("%d/%m/%Y") %></li>
          <li>Warehouse Address: Arch 385 Geffrye St, London E2 8HZ</li>
        </ul>
      </div>
      <div class="map">
      <%= image_tag(asset_path('map.png')) %>
      </div>
    </div>
    <div class="btn-center-page">
      <a href="/items_decorate"><button type="button" class="fill">More Items</button></a>
      <a href="/artists"><button type="button" class="fill">More Artists</button></a>
    </div>
  </div>
<% end %>
<%# BOOKING DECORATION %>
<% if @booking.decoration? %>
  <div class="page-container">
    <div class="show-container booking-show-card">
      <div class="m-5">
        <%# <h1>Thanks, your <span class="text-green">collection</span> is confirmed!</h1>
          <br> %>
        <%# <h2>THANKS YOUR <span class="text-green">COLLECTION</span> IS CONFIRMED</h2> %>
        <h2>THANKS FOR SUPPORTING LOCAL ARTISTS!</h2>
        <h3>Your order confirmation: #3242106 </h3>
        <h4>We hope you love your new piece!</h4>
      </div>
    </div>
    <div class="btn-center-page">
      <a href="/items_decorate"><button type="button" class="fill">More Items</button></a>
      <a href="/artists"><button type="button" class="fill">More Artists</button></a>
    </div>
  </div>
<% end %>
