<div class="container">
  <div class="m-5 text-center pt-3">
    <h1>Welcome back <%= @user.first_name ? @user.first_name : @user.email %>!</h1>
  </div>
  <h2 class="mb-3">My details</h2>
  <div class="user-profile-card justify-content-between text-center">
  <% if @user.photo = nil %>
      <%= cl_image_tag(@user.photo.key, :class => "profile-avatar ml-5")  %>
    <% else %>
      <%= image_tag 'https://cdn1.iconfinder.com/data/icons/ordinary-people/512/bookworm-512.png', class: "profile-avatar ml-5" %>
    <% end %>
  
    <div class="profile-details">
      <p class="my-4"><%= @user.first_name ? @user.first_name : '' %> <%= @user.last_name ? @user.last_name : '' %> </p>
      <p class="my-4"><%= @user.email %> </p>
      <p class="my-4"><%= @user.address %></p>
      <% if @user.artist %>
        <p><%= @user.artist.biography %> </p>
      <% end %>
    </div>
  </div>
  <h2 class="my-5">My Activity</h2>
  <table class="w-100 user-activity text-center my-5">
    <tr>
      <th>Booking Date</th>
      <th>Type</th>
      <th>Furniture</th>
      <th>Status</th>
    </tr>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.start_date %> </td>
        <td><%= booking.booking_type.upcase %> </td>
        <td><%= booking.item.name %> </td>
        <td><%= booking.item.status.upcase %> </td>
      </tr>
    <% end %>
  </table>
</div>
