<div class="container">
  <div class="m-5 text-center">
    <h1 >Welcome back <%= @user.first_name ? @user.first_name : @user.email %>! </h1>
  </div>
  <h2 class="mb-5">My details</h2>
  <div class="user-profile-card justify-content-between text-center">
    <%= image_tag "test-profile.jpg", class:"profile-avatar"%>
    <div class="profile-details">
      <p><span class="">FIRST NAME</span><%= @user.first_name ? @user.first_name : '' %> </p>
      <p>Last NAME</p>
      <p><%= @user.email %> </p>
      <p>USER ADDRESS</p>
      <% if @user.artist %>
        <p><%= @user.artist.biography %> </p>
      <% end %>
    </div>
  </div>
  <h2 class="my-5">My Activity</h2>
  <table class="w-100 user-activity text-center">
    <tr>
        <th>Booking Date</th>
        <th>Type</th>
        <th>Furniture</th>
        <th>Status</th>
    </tr>
    <% @bookings.each do |booking| %>
        <td><%= booking.start_date %> </td>
        <td><%= booking.booking_type %> </td>
        <td><%= booking.item.name %> </td>
        <td><%= booking.item.status %> </td>
    <% end %>
  </table>
</div>
