<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to root_path, class: "home-link ml-3", data: { turbolinks: false } do %>
    <%# <h1>AMOOBL</h1> %>
    <%= image_tag('amoobl.png', class: "logo") %>
    <% end %>
  <%= link_to "#", class: "navbar-brand" do %>
    <%# <%= image_tag "https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="/artists" class="underline--magical highlight-pink" class="nav-link">ARTISTS</a>
      </li>
      <li class="nav-item">
        <a href="#" class="underline--magical highlight-yellow" class="nav-link">OUR TEAM</a>
      </li>
      <% if user_signed_in? %>
        <%# SHOPPING CART BUTTON %>
        <%# <a href="#"><i class="far fa-heart favorites-icon underline--magical highlight-blue"></i></a> %>
        <% if current_user.baskets.where(user: current_user, paid: false).first  %>
        <% current_basket = current_user.baskets.where(user: current_user, paid: false).first %>
        <li class="nav-item">
        <%= link_to 'BASKET', basket_path(current_basket), class: 'nav-item underline--magical highlight-blue' %>
          <%# <a href="/baskets/" class="underline--magical highlight-blue" class="nav-link">BASKET</a> %>
        </li>
        <% end %>


        <%# FAVOURITES BUTTON %>
        <%# <li class="nav-item">
          <a href=""><i class="lni lni-shopping-basket shopping-icon underline--magical highlight-orange"></i></a>
        </li> %>
        <li class="nav-item">
          <a href="/favorites" class="underline--magical highlight-orange" class="nav-link">FAVOURITES</a>
        </li>
        
        <%# AVATAR & DROPDOWN %>
        <li class="nav-item dropdown">
          <%= image_tag "https://cdn1.iconfinder.com/data/icons/ordinary-people/512/bookworm-512.png", class: "avatar dropdown-toggle b-w", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "PROFILE", user_path(current_user), class: "dropdown-item" %>
            <%# <%= link_to "BOOKINGS", "", class: "dropdown-item" %>
            <%= link_to "LOG OUT", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <a href="/users/sign_in" class="underline--magical highlight-green" class="nav-link">LOGIN</a>
        </li>
      <% end %>
    </ul>
  </div>
</div>
