
<div class="home-container">

  <br>

  <div class="home-links-container">
    <%= link_to new_item_path, class: "home-card-link" do %>
      <div class="home-card abandoned-chair">
        DONATE
      </div>
    <% end %>

    <%= link_to items_create_path, class: "home-card-link" do %>
      <div class="home-card art-chair">
        CREATE
      </div>
    <% end %>

    <%= link_to items_decorate_path, class: "home-card-link" do %>
      <div class="home-card decorate-chair">
        DECORATE
      </div>
    <% end %>
  </div>

  <br>

  <div class="text-center mt-3">

    <% items = @items.sample(2) %>
    <% item_1 = items.first %>
    <% item_2 = items.second %>
    <% artist = @artists.sample %>

    <h1>RECENTS</h1>
    <p>for your amooblment</p>
  </div>

  <br>

  <div>
    <div class="row justify-content-center">
      <div class="col-4 home-card-link-wrapper">
        <%= link_to @links[2], target: "_blank" do  %>
          <div class="home-grid-card mb-4">
            <h2>NEWS</h2>
            <p><%= @articles[4][0..89]%>...</p>
            <%= image_tag @images[2], alt: "alttext", class: "grid-card-image" %>
          </div>
        <% end %>
      </div>

      <div class="col-4 home-card-link-wrapper">
        <%= link_to artist_path(artist) do  %>
          <div class="home-grid-card mb-4">
            <div class="text-center">
              <h2>FEATURED ARTIST</h2>
              <h2 class="home-artist-name"><%= artist.user.first_name %></h2>
              <p><%= cl_image_tag artist.user.photo.key, class: "home-profile-avatar" %></p>
              <% if artist.biography.length > 180 %>
                <p><%= artist.biography[0..179] %>...</p>
              <% else %>
                <p><%= artist.biography %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-4 home-card-link-wrapper">
        <%= link_to item_path(item_1) do  %>
          <div class="home-grid-card mb-4">
            <h2>FOR SALE</h2>
            <p><strong><%= item_1.name %></strong> - <%= item_1.description[0..49] %>...</p>
            <%= cl_image_tag item_1.photos.first.key, class: "grid-card-image" %>
          </div>
        <% end %>
      </div>

    </div>
    <div class="row justify-content-center">
      <div class="col-4 home-card-link-wrapper">
        <%= link_to item_path(item_2) do  %>
          <div class="home-grid-card mb-4">
            <h2>FOR SALE</h2>
            <p><strong><%= item_2.name %></strong> - <%= item_2.description[0..49] %>...</p>
            <%= cl_image_tag item_2.photos.first.key, class: "grid-card-image" %>
          </div>
        <% end %>
      </div>
      <div class="col-4 home-card-link-wrapper">
        <%= link_to @links[3], target: "_blank" do  %>
          <div class="home-grid-card">
            <h2>NEWS</h2>
            <p><%= @articles[5][0..89]%>...</p>
            <%= image_tag @images[3], alt: "alttext", class: "grid-card-image" %>
          </div>
        <% end %>
      </div>
      <div class="col-4 home-card-link-wrapper">
        <%= link_to @links[4], target: "_blank" do  %>
          <div class="home-grid-card">
            <h2>NEWS</h2>
            <p><%= @articles[6][0..89]%>...</p>
            <%= image_tag @images[4], alt: "alttext", class: "grid-card-image" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <br>

</div>
