<% 
 status = [
  "in progress",
  "for sale",
]

item_category = [
   "Sofa", "Chair", "Drawers", "Table",
 "Stool", "Cupboard",
  "Side Table", "Lamp", "Coat Stand",
  "Shelves"
]
   %> 
<div class="form-bench-background">
  <h1 class="mt-5 text-center">Edit furniture</h1>
  <p class=" text-center">Maybe add a new picture to show off your creation?</p>
  <div class="form-container edit">
    <h2>CHANGE DETAILS BELOW</h2>
    <%= simple_form_for(@item) do |f| %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :status, as: :select, collection: status, prompt: 'Set Status' %>
      <%= f.input :category, as: :select, collection: item_category  %>
      <%= f.input :photos, as: :file, input_html: { multiple: true, class: "d-none" }, label_html: { class: 'upload-photo'}, label: 'Upload a photo' %>
      <%= f.submit "Update", class: "form-button" %>
    <%= link_to 'Go Back', user_path(current_user), id: "back-btn" %>
    <% end %>
    
    
  </div>
</div>
