<div class="container mt-5 ">
  <h1 class="my-5 text-center">Edit furniture</h1>
  <h4 class="my-5">Maybe add a new picture to show off your creation?</h4>
  <%= simple_form_for(@item) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :category %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit %>
  <% end %>
</div>
