<div class="index-container container">
  <div class="titles-container">
    <div class="my-5">
      <h1 class="text-center">All the Furniture</h1>
      <p class="text-center">Browse through our upcycled pieces of Furniture</p>
    </div>
    <div class="text-center">
      <%= form_tag items_decorate_path, method: :get do %>
        <%= select_tag "item", options_for_select([ "Select Category",
        "Sofa", "Chair",
        "Drawers", "Table",
        "Stool", "Cupboard",
        "Side Table", "Coat Stand",
        "Shelves"
      ], @filter)%>
        <%= submit_tag "Search", class: "btn" %>
      <% end %>
      <% if @items.empty? %>
        <h3 class="my-5">Nothing in this category. Sorry!</h3>
        <br><br><br><br><br>
        <a href="/items_decorate"><button type="button" class="fill">Back to all Items</button></a>
      <% end %>
    </div>


    <%# <div class="filter-box"> %>
      <%# <div class="frame">
        <div class="range">
          <p>0</p>
            <input type="range" min="0" max="500">
          <p>500</p>
        </div>
      </div> %> 

      <%# <%= simple_form_for(@item) do |i| %>
        <%# <%= c.input :colors, collection: Item::COLORS, 
                            as: :check_boxes,
                            input_html: { class: "tag-selector" },
                            item_wrapper_class: 'tag-item' %>
      <%# <% end %>
  </div>
</div>

<div class="index-decorate-container">
  <div class="row flex-wrap justify-content-left">
    <% @items.each do |item| %>
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="index-decorate-card">
        <%= link_to item_path(item, decorate: true), data: { turbolinks: false } do %>
          <%= cl_image_tag item.photos.first.key, alt: "Upcycled" %>
            <div class="index-decorate-card-text">
              <div class="card-text-name-price">
                <%= item.name %> - <%= humanized_money_with_symbol(item.price_cents/100) %>
              </div>
              <% if current_user %>
                <%= link_to toggle_favorite_item_path(item), remote: true, method: :post do %>
                  <div class="card-text-like <%= 'pink-heart' if current_user.favorited?(item) %>" data-id="<%= item.id %>">
                    <i class="fas fa-heart fa-2x"></i>
                  </div>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
