<div class="index_create_container text-center">
  <div class="my-5">
    <h1>We love your art!</h1>
    <p><%= current_user.first_name ? current_user.first_name : current_user.email %>, please select the piece of furniture you'd like to work on: </p>
  </div>
  <div>
    <%= render 'filter' %>
  </div>
  <div class="align-item-center item-container d-flex flex-wrap justify-content-around">
    <% if @items.empty? %>
      <div class="d-flex flex-column align-items-center">
      
        <h3 class="my-5">Nothing in this category. Sorry!</h3>
        <br>
        <%= link_to 'Back to All Items', '#',class: "underlined-button green-underline" %>
      </div>
    <% else %>
      <% @items.each do |item| %>
        <% item.photos.each do |photo| %>
          <div class="item-card card" data-href= <%= new_item_booking_path(item) %> style="background-image: url(<%= cl_image_path photo.key, width:300, height:300, crop: :fill %>)" >
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <% if @items.any? %>
    
  <br>
  <br>
  <%= link_to 'Next', "#" , class: "underlined-button green-underline", style: "font-size: 24px;", id: "nextBtn" %>
  <br>
  <br>
  <br>
  <% end %>
</div>
