<div class="index-container container text-center">
  <div class="titles-container">
    <div class="my-5">
      <h1 class="text-center">All the furniture</h1>
      <p class="text-center">Browse through our upcycled pieces of furniture</p>
    </div>
    <div>
      <%= render 'filter_decorate' %>
    </div>
    <div class="align-item-center item-container d-flex flex-wrap justify-content-around">
      <% if @items.empty? %>
        <h3 class="my-5">Nothing in this category. Sorry!</h3>
        <br><br><br><br><br>
        <a href="/items_decorate"><button type="button" class="fill">Back to all Items</button></a>
      <% end %>
    </div>
  </div>
</div>

<div class="index-decorate-container">
  <div class="row flex-wrap justify-content-left">
    <% @items.each do |item| %>
      <div class="col-12 col-md-6 col-lg-3 mb-4">
        <div class="index-decorate-card">
          <%= link_to item_path(item, decorate: true), data: { turbolinks: false } do %>
            <div class="image-wrapper-index">
              <%= cl_image_tag item.photos.first.key, alt: "Upcycled" %>
              <div class="index-decorate-card-text">
                <div class="card-text-name-price">
                  <%= item.name %> - <%= humanized_money_with_symbol(item.price_cents/100) %>
                </div>
                <% if current_user %>
                  <%= link_to toggle_favorite_item_path(item), remote: true, method: :post do %>
                    <div class="card-text-like <%= 'pink-heart' if current_user.favorited?(item) %>" data-id="<%= item.id %>">
                      <i class="fas fa-heart fa-2x"></i>
                    </div>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
