<h1>This is the form for adding a new piece of furniture</h1>

<%= simple_form_for(@item) do |f| %>
  <%= f.input :name %>
  <%= f.input :description %>
  <%= f.input :photo, as: :file %>
  <%= f.submit %>
<% end %>

t.string "category"
    t.string "name"
    t.text "description"
    t.string "color"