<% categories = [
    "Sofa", "Chair", "Bench",
  "Bed", "Drawers", "Table",
  "Desk", "Stool", "Cupboard",
  "Side Table", "Lamp", "Coat Stand",
  "Shelves", "Wine Rack", "Coffee Table"
  ] %>

<div class="container page-container">
  <div class="m-5 text-center">
    <h1>Thanks for choosing to recycle!</h1>
    <p>This is a description to say hello and well, you know, just see if it looks OK, blah blah blah.</p>
  </div>
</div>

<div class="form-container">
  <h2>YOUR AWESOME DONATION</h2>

  <%= simple_form_for(@item) do |f| %>
    <%= f.input :name, label: "Please enter the name for your listing", placeholder: "eg. Art Deco Armchair" %>
    <%= f.input :description, label: "In a few words, describe your item(s)", placeholder: "eg. colors, age, condition..." %>
    <%= f.input :category, as: :select, collection: categories, prompt: 'Select Category', label: "Choose a category that best matches your item(s)" %>
    <%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit "Confirm Listing", class: "form-button" %>
  <% end %>
</div>
