<div class="mt-5 container justify-content-between">
  <h1> <%= @item.name %> </h1>
  <div class="mt-5 d-flex">
    <div class="flex-grow-1">
      <%= cl_image_tag(@item.photos.first.key) %>
    </div>
    <div class="show-description">
      <p>DESCRIPTION: <%= @item.description %> </p>
    </div>
  </div>
  <%= link_to 'Add to Basket', item_basket_items_path(@item), method: :post %>
  <%= form_tag  do %>
  <% end %>
  <div>
    <h2>Meet the Artist</h2>
    <div class="user-profile-card justify-content-between text-center">
    <%= cl_image_tag(@artist.photo.key, :class => "profile-avatar ml-5") %>
    <div class="profile-details">
      <h4><%= @artist.first_name ? @artist.first_name : '' %> <%= @artist.last_name ? @artist.last_name : '' %> </h4> 
    </div>
  </div>
  </div>
</div>
