<div class="mt-5 container">
  <div class="my-5 text-center">
    <h1></h1>
    <p></p>
  </div>
  <br>

  <%# SLIDER %>
  <div class="mt-5 item-show-wrapper">
    <div class="show-item-image">
      <% if @decorate %>
      <div class="wrapper">
        <div class="images">
          <div class="img-1"></div>
          <div class="img-2"></div>
        </div>
        <div class="slider">
          <div class="drag-line">
            <span></span>
          </div>
          <input type="range" min="0" max="100" value="50">
        </div>
      </div>
      <script>
        const slider = document.querySelector(".slider input");
        const img = document.querySelector(".images .img-2");
        const dragLine = document.querySelector(".slider .drag-line");
        slider.oninput = ()=>{
          let sliderVal = slider.value;
          dragLine.style.left = sliderVal + "%";
          img.style.width = sliderVal + "%";
        }
      </script>
      <% else %>
        <%# PHOTOS THAT LINK TO THE ITEM %>
        <%= cl_image_tag(@item.photos.first.key) %>
      <% end %>
      <div class="index-decorate-card-text">
          <% if current_user %>
            <%= link_to toggle_favorite_item_path(@item), remote: true, method: :post do %>
              <div class="show-like <%= 'pink-heart' if current_user.favorited?(@item) %>" data-id="<%= @item.id %>">
                <i class="fas fa-heart fa-3x"></i>
              </div>
            <% end %>
          <% end %>
      </div>
    </div>
    <div class="ml-4 text-left">
      <h1><%= @item.name %></h1>
      <p style="font-family: 'Waiting for the Sunrise', cursive; font-size:24px;">by <%= @artist.user.first_name %> <%= @artist.user.last_name %></p>
      <p><%= @item.description %></p>
      <h3>£<%= @item.price_cents/100 %></h3>
    </div>
      <% if @basket === nil %>
        <%= link_to 'Add to Basket', item_basket_items_path(@item), id: "real-button", class: "d-none slide-in", method: :post %>
        <p id="sweet-alert-demo" class="underlined-button pink-underline basket_btn slide-in" style="float: right;">Add to Basket</p>
      <% elsif @basket.items.include?(@item) %>
        <p class="basket_btn blue-underline" style="float: right; font-style: italic; font-weight: bold">Already in your Basket</p>
      <% else %>
        <%= link_to 'Add to Basket', item_basket_items_path(@item), id: "real-button", class: "d-none slide-in", method: :post %>
        <p id="sweet-alert-demo" class="underlined-button pink-underline basket_btn slide-in" style="float: right;">Add to Basket</p>
      <% end %>
    </div>
  <div>
    <%# <%= render 'meetartist' %>
    <h1 class="mt-5 text-center">Like this piece?</h1>
    <p class="text-center">Come see who made it!</p>
    <div class="mt-5 user-profile-card justify-content-between text-center">
      <%= cl_image_tag(@artist.user.photo.key, :class => "profile-avatar ml-5") %>
      <div class="profile-details">
        <h2><%= @artist.user.first_name ? @artist.user.first_name : '' %> <%= @artist.user.last_name ? @artist.user.last_name : '' %></h2>
        <h4 class="mt-4 mb-2">BIO</h4>
        <% if @artist %>
          <p><%= @artist.biography %></p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="btn-center-page">
    <a href="/items_decorate"><button type="button" class="fill">Back To More Items</button></a>
  </div>

</div>
