<div class="mt-5 container justify-content-between">
  <h1> <%= @item.name %> </h1>
  <div class="mt-5 d-flex">
    <div>
      <%= cl_image_tag(@item.photos.first.key) %>
    </div>
    <div>
      <p>DESCRIPTION: <%= @item.description %> </p>
    </div>
  </div>
  <%= link_to 'Update', edit_item_path  %>
  <%= link_to 'Buy', item_path(@item) %>
</div>
